
/*// Styling for static border */
/*#topleft, #topright, #bottomleft, #bottomright {
 height: 24px;
 width: 24px;
 border-radius: 10px;
 position: fixed;
 display: block;
 z-index: 20;
}

#top, #bottom {
 height: 24px;
 position: fixed;
 left: 0;
 right: 0;
 display: block;
 background-color: grey;
 z-index: 30;
}
#left, #right {
 width: 50px;
 position: fixed;
 top: 0;
 bottom: 0;
 display: block;
 background-color: grey;
 z-index: 50;
}

#top {
 top: 0;
}
#bottom {
 bottom: 0;
}
#left {
 left: 0;
}
#right {
 right: 0;
}
#topleft {
 top: 0;
 left: 0;
}
#topright {
 top: 0;
 right: 0;
}
 #bottomleft {
 bottom: 0;
 left: 0;
}
 #bottomright {
 bottom: 0;
 right: 0;
}*/

#instruments {
    font-size: 2em;
}

h3 {
    text-align: center;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.notes {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;background-color: #ffffe0;
}

th {
    text-align: center;
}

li {
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    list-style: none;
}

.border {
    border-style: solid;
    border-width: .5px;
    border-radius: 5px;
    margin-left: 50px;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    /*background-image: url("/img/bannermusic.jpg");*/
    color: #eceff5;
}

#courses-table {
    margin-left: 150px;
    margin-top: 20px;
}

#add_course {
    margin-left: 90px;
    margin-top: 90px;
}
#totals {
    margin-right: 80px;
}

#alignstudents {
    margin-left: 15%;
    margin-top: 60px;
}

#addstudentbox {
    margin-right:100px;
    margin-top: 30px;
}

#currentstudentsbox {
    margin-right: 30px;
}


#addteacher {
    margin-left: 25%;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
}


.container {
    margin-top: 80px;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgba(117, 119, 117,0.2);
}
#teachersalign {
    margin-left: 110px;
}

#addnewteacher {
    font-size: 1.5em;
}

#hass {
    height: 500px;
    /*background: #000 url("/img/horses_ass.jpeg") no-repeat center center;*/
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
p.intro {
    /*width: 50%;*/
    font-style: italic;
    text-align: center;
}

/* unvisited link */
.nav-bar a:link {
    color: white;
}

/* visited link */
.nav-bar a:visited {
    color: white;
}

/* mouse over link */
.nav-bar a:hover {
    color: gold;
}

.stats-numbers {
    text-align: center;
    color: maroon;
}
p.note {
    width: 50%;
    font-style: italic;
    font-weight: bold;
    clear: left;
}
.left-menu-adjust {

    margin-left: 200px;
    padding-left: 30px;
    padding-top: 7px;
}

.accessories-radio label{
    text-align: left;
    font-size: 15px;
    display: block;
    padding-left: 30px;
    clear: both;
}


#left-menu {
    float: left;
    /*position: fixed;*/
    width: 200px;
    height: 1000px;
    display: block;
    margin: 10px;
    padding: 0px;
    background-color: lightgray
}
.important {
    width: 50%;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: crimson;
}

.flashy {
    font-size: 3rem;
    color: crimson;
    text-shadow: 2px 5px 10px grey;

}

.flashy2 {
    font-style: italic;
    font-weight: bold;
    color: crimson;
    text-shadow: 2px 2px 10px grey;
}
.flashy3 {
    font-weight: bold;
    text-shadow: 2px 2px 10px grey;
}
.flashy4 {
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 10px lightgrey;
}
.imgstyle {
    width: 33%;
}

img.intro {
    display: block;
    margin: auto;
    height: 420px;
    float: left;
}

.textstyle {
    width: 60%;
    margin: 0 auto;
}

.post h1 {
    color: red;
}
.comments {

}

.biopics {
    float: left;
    clear: left;
    width: 95%;
}

.columns {
    width: 33%;
    float: left;
}


.logo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.nav-bar {
    width: 500px;
    height: 50px;
    /*background-color: #e1b7bb;*/

}
.center-div * {
    /*border: 2px solid black;*/

}

.sidebar li  {
    padding: 1% 5%;
    display: inline-block;
    margin: auto;
    font-size: 20px;
    color: white;
}
.sidebar ul {
    display: flex;
    justify-content: space-around;
}
.sidebar {
    background-color: darkred;
    margin: 0 auto;
}

.bios-border {
    border-top: dotted 2px black;
}


.logo img {
    width: 8.5%;
    height: auto;
    border: solid 2px grey;
    padding: 1%;
    float: left;
    background-color: maroon;

}

.bandpage-top {
    width: 20%;
    border: 1px solid black;
    height: 40em;
    float: left;

}
.bandpage-top img {
    width: 33%;
}
.bandpage-toptext {
}
/*.bandpage-top p {
}*/
.bandpage-text {
    border: 2px solid;
    width: 100%;
    float: left;
}
.hover-pix img {
    border: 2px solid crimson;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#index-bottom-pix2 {
    display: none;
}

/* Event blog page */

#dark-theme-button {
    border: 3px solid crimson;
}

#gray-theme-button {
    border: 3px solid crimson;
}


#normal-theme-button {
    border: 3px solid crimson;
}

#instrument-picture {
    width: 50%;
}
.toDarkTheme {
    background-color: black;
    color: white;
}
.toGrayTheme {
    background-color: silver;
    color: white;
}